{% extends '::base.html.twig' %}

{% block title %}{% trans %}Rebecca PETIT: Home{% endtrans %}{% endblock %}

{% block body %}
    <div id="page" class="hashtag-whyistayed">
        <div class="hashtag-header">
            <!-- <h2>#WhyIStayed</h2> -->
        </div>
        <section class="hero">
            <div class="inner-wrapper">
                <div class="content-wrap" style="width: auto">
                    <h1>
                        {% trans %}DIGITAL <span style="font-family:Calibri;font-weight: bold;font-size: 49px">&</span>
                            <br/>
                            SOCIAL MEDIA
                            <br/>
                            EXPERT{% endtrans %}
                        </h1>
                    </div>
                    <span class="line right start"><span></span></span>
                    <span class="line right horizontal start"><span></span></span>
                </div>
            </section>
            <section class="black-wrap intro">
                <span class="line top start"><span></span></span>
                <div class="inner-wrapper">
                    <div class="quote-wrap">
                        <blockquote>
                            <span style="font-family: Eraser;text-align: center;color: #ff3300;font-size: 35px">MANTRA</span>
                        </blockquote>
                        <br/><br/><br/>
                        <blockquote>
                            <p style="font-family: Agency FB">
                                "Ce n'est pas la conscience des hommes qui determine leur être,
                                <br/>
                                c'est inversement leur être social qui détermine leur conscience"                                
                            </p>
                        </blockquote>
                        <p class="credit">
                            <span style="font-weight: bold">Karl Max</span> (1818 - 1883)
                            <br/>
                            <span style="font-size:24px">
                                Economiste, Philosophe & Scientifique
                            </span>
                        </p>
                    </div>
                </div>
                <span class="line btm"><span></span></span>
            </section>
            <section class="red-wrap">
                <div class="inner-wrapper">
                    <div class="quote-wrap">
                        <p>
                            test d'accroche
                        </p>
                    </div>
                </div>
                <div class="red-bg-color"></div>
            </section>
            <section id ="competence" class="black-wrap" style="height: 399px;padding-bottom: 15px">
                <span class="line top"><span></span></span>
                <div class="inner-wrapper">
                    <div class="text-wrap">
                        <blockquote>
                            <h6 style="font-family: Eraser;text-align: center;color: #ff3300;font-size: 35px">COMPETENCES</h6>
                        </blockquote>
                        <table style="width: 100%; font-family: Agency FB; color: #FFF;border-spacing: 70px;border-collapse: separate;">
                            <tr>
                                <td style="text-align: center;font-size: 32px">Marketing / Communication</td>
                                <td style="text-align: center;font-size: 32px">Conseil / Relation Client</td>
                                <td style="text-align: center;font-size: 32px">Gestion de projet / Management</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-size: 32px">Digital / E-commerce</td>
                                <td style="text-align: center;font-size: 32px">Social Media / RP 2.0</td>
                                <td style="text-align: center;font-size: 32px">OPS / Content Marketing</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-size: 32px"></td>
                                <td style="text-align: center;font-size: 32px">Anglais courant</td>
                                <td style="text-align: center;font-size: 32px"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="red-bg-color"></div>
            </section>
            <section id="pro_exp" class="black-wrap">
                <span class="line top"><span></span></span>
                <div class="inner-wrapper">
                    <div class="text-wrap">
                        <blockquote>
                            <h6 style="font-family: Eraser;text-align: center;color: #ff3300">EXPERIENCE PROFESSIONNELLE</h6>
                        </blockquote>
                    </div>
                    <br/><br/><br/>
                    <div class="quote-wrap">
                        <h3>Digital & Social Media Consultant </h3>
                        <blockquote style="font-size: 25px">
                            Conseil, Stratégie, Gestion de projets web et campagnes digitales, Community Management & Formation
                            <br/>IDZZ, Synomia, Odilynch, CarbonCoin, Virtual Sterling, LoJoL ...
                        </blockquote>
                        <p class="credit" style="font-size: 25px">
                            FREELANCE London &nbsp; - &nbsp; Paris &nbsp; - &nbsp; Fevrier 2013 à Aujourd'hui
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div class="quote-wrap">
                        <h3>Directrice de clientèle Digital & Social Media </h3>
                        <blockquote style="font-size: 25px">
                            Conception & pilotage d'opérations full service digital, de la recommandation à la proposition financière et au suivi de l'execution : Media, Social Media, Création Digitale & Mobile. 
                            <br/> Management de 5 Community Managers & des équipes projet (Créatifs, Développeurs et Chefs de projet) & gestion financière / budgétaire.
                            <br/>Philips, J&J, Perfetti, Diageo, Carlsberg Group, Bel Group, Marie, SFR, Fram, INPES...
                        </blockquote>
                        <p class="credit" style="font-size: 25px">
                            AEGIS MEDIA &nbsp; - &nbsp; Paris &nbsp; - &nbsp; Janvier 2012 à Janvier 2013
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div class="quote-wrap">
                        <h3>Responsable de clientèle Social Media </h3>
                        <blockquote style="font-size: 25px">
                            Conseil & élaboration de stratgéies Social Media : animation des réseaux sociaux, stratégie d'engagement et de recrutement, campagnes d'influence auprès de la blogosphère, activation des forums et opérations spéciales, stratgéie de veille et de monitoring de l'e-reputation, SMO
                            <br/> Management de 5 Community Managers, Suvi de projet & gestion financière
                            <br/>Philips, Kellogg's, Danone, Reebok, J&J, Beiersdorf, Fast-Retailling, Vivarte, Mattel...
                        </blockquote>
                        <p class="credit" style="font-size: 25px">
                            AEGIS MEDIA &nbsp; - &nbsp; Paris &nbsp; - &nbsp; Juin 2010 à Decembre 2011
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div class="quote-wrap">
                        <h3>Chef de projet Digital </h3>
                        <blockquote style="font-size: 25px">
                            Recommandations stratégiques & opérationnelles, Brief & coordination des différents pôles d'expertise (Display, SEM, SEO, E-mailing, Affiliation, OPS, Mobile),
                            <br/>Suivi & optimisation des campagnes, Reportings,Suivi financier
                            <br/>Nissan, Hasbro, Barilla, Sony Pictures / SPHE, Bazarchic
                        </blockquote>
                        <p class="credit" style="font-size: 25px">
                            OMNICOMMEDIAGROUP &nbsp; - &nbsp; Paris &nbsp; - &nbsp; Mars 2008 à Juin 2010
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div class="quote-wrap">
                        <h3>Chef de projet Digital </h3>
                        <blockquote style="font-size: 25px">
                            Création des supports de communication, Cahier des charges et gestion de projet pour la refonte des sites web du groupe,
                            <br/>Organisation d'évenements à destindation des collaborateurs et des salons professionnels, Développement d'outils de communication interne (Newsletter, Intranet...)
                        </blockquote>
                        <p class="credit" style="font-size: 25px">
                            INSYWEB &nbsp; - &nbsp; Paris &nbsp; - &nbsp; Octobre 2005 à Octobre 2007
                        </p>
                    </div>
                </div>
                <span class="line btm"><span></span></span>
            </section>
            <section id ="portfolio" class="video-wrap" style="background-color: rgba(0, 0, 0, 0.7);height: 599px">
                <div class="carousel-wrap">
                    <div class="carousel">
                        <div class="slide active">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: Lancement Qashqai 2010</p>
                                    <br/>
                                    <p>Client: Nissan</p>
                                    <br/>
                                    <p>Drescriptif: Destructuration des Home pages Yahoo, MSN, Allociné, L’Equipe</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe style="height: 325px;position: relative" src="https://player.vimeo.com/video/10183182?title=0&byline=0&portrait=0" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                 
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: Lancement Nerf</p>
                                    <br/>
                                    <p>Client: Hasbro</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe style="height: 205px;position: relative" width="578" height="325" src="//www.dailymotion.com/embed/video/xafets" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Client: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe width="578" height="325" src="https://www.youtube.com/embed/23kpRBxFuNM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="height: 325px"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Client: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe width="578" height="325" src="https://www.youtube.com/embed/23kpRBxFuNM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="height: 325px"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Client: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe width="578" height="325" src="https://www.youtube.com/embed/23kpRBxFuNM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="height: 325px"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Client: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe width="578" height="325" src="https://www.youtube.com/embed/23kpRBxFuNM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="height: 325px"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="quote-wrap">
                                <div class="text-wrap">
                                    <p>Projet: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Client: XXXXXXXXXXXXX</p>
                                    <br/>
                                    <p>Drescriptif: XXXXXXXXXXXXX</p>
                                    <br/>
                                </div>
                                <div class="credit" style="height: auto">
                                    <iframe width="578" height="325" src="https://www.youtube.com/embed/23kpRBxFuNM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="height: 325px"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-dots">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="carousel-nav-wrap">
                        <span class="prev disabled"><span class="icon-left-arrow"></span></span>
                        <span class="next"><span class="icon-right-arrow"></span></span>
                    </div>
                </div>
                <div class="red-bg-color"></div>
            </section>                    
            <section id="degree" class="black-wrap">
                <span class="line top"><span></span></span>
                <div class="inner-wrapper">
                    <div class="quote-wrap">
                        <div class="text-wrap">
                            <blockquote>
                                <h6 style="font-family: Eraser;text-align: center;color: #ff3300">EDUCATION</h6>
                            </blockquote>
                        </div>
                        <br/><br/><br/>
                        <div class="text-wrap">
                            <p><span style="font-weight: bold">Master II Marketing, Communication & Stratégies Commerciales, majeure E-commerce</span>
                                <br>INSEEC Paris &nbsp; / &nbsp; Septembre 2008 </br>
                            </p>

                            <p><span style="font-weight: bold">Master I Management & Gestion d'entreprise, majeure Marketing / Communication </span>
                                <br>Céfire-Esarc &nbsp; / &nbsp; INSEEC Paris &nbsp; / &nbsp; Septembre. 2007 </br>
                            </p>

                            <p><span style="font-weight: bold">DUT Techniques de Commercialisation, majeure Marketing/Communication</span>  
                                <br>IUT de Rouen &nbsp; / &nbsp;Juin 2004 </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="red-bg-color"></div>
            </section>
            <section id="tools" class="red-wrap">
                <span class="line top"><span></span></span>
                <div class="inner-wrapper">
                    <div class="quote-wrap">
                        <div class="text-wrap">
                            <blockquote>
                                <h6 style="font-family: Eraser;text-align: center;color: #ff3300">OUTILS</h6>
                            </blockquote>
                        </div>
                        <br/><br/><br/>
                        <p>Maitrise du pack Office, Photoshop CS, Illustror CS</p>
                        <p>Connaissance HTML4.1 & PHP5 </p>
                        <p>Outils de PUBLICATION ; CMS Wordpress, Hootsuite, Buffer</p>
                        <p>Outils de BUZZMONITORING ; Brandwatch, Radian6, Buzzmetrics, Mentions </p>
                        <p>Outils de MEDIAPLANNING ; Nielsen Net Ratings (NNR), Comscore, TGI, SIMM </p>
                        <p>Outils de E-COMMERCE ; Magento, Prestashop </p>
                    </div>
                </div>
                <div class="red-bg-color"></div>
            </section>
            <section id="contact" class="black-wrap">
                <span class="line top"><span></span></span>
                <div class="quote-wrap">
                    <div class="text-wrap">
                        <blockquote>
                            <h6 style="font-family: Eraser;text-align: center;color: #ff3300">CONTACT</h6>
                        </blockquote>
                    </div>
                    <br/><br/><br/>
                </div>
                <div class="image-wrap right-align">
                    <div class="caption">
                        <h3>Janay, who doesn’t have a Twitter account, posted the following message on Instagram:</h3>
                    </div>
                </div>
            </section>
            <div class="hashtag-footer">
                <div class="right">
                    <h5><a href="#top" class="top-btn"><span class="icon-right-arrow"></span> <span class="fboldup">Top</span></a></h5>
                </div> 
            </div>
        </div>
        {% endblock %}